<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <link href="../../css/bootstrap.min.css" rel="stylesheet">
  <style>
        .container {
            max-width: 560px;
        }
 </style>
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>유저 등록 폼</h2>
  </div>
  <h4 class="mb-3">유저 등록</h4>
  <form action="/basic/user/userResist" method="post">
    <div>
      <label for="userId">유저 ID</label>
      <input type="text" id="userID" name="userID" class="form-control" placeholder="유저아이디를 입력하세요">
    </div>
    <div>
      <label for="userPwd">비밀번호</label>
      <input type="password" id="userPwd" name="userPwd" class="form-control" placeholder="비밀번호를 입력하세요">
    </div>
    <div>
      <label for="userPwdcheck">비밀번호</label>
      <input type="password" id="userPwdcheck" name="userPwdcheck" class="form-control" placeholder="비밀번호확인">
    </div>
    <div>
      <label for="userName">유저명</label>
      <input type="text" id="userName" name="userName" class="form-control" placeholder="유저명을 입력하세요">
    </div>
    <div>
      <label for="email">email</label>
      <input type="text" id="email" name="email" class="form-control" placeholder="이메일을 입력하세요">
    </div>
    <div>
      <label for="address">주소</label>
      <input type="text" id="address" name="address" class="form-control" placeholder="주소를 입력하세요">
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg" onclick="location.href='../../index.html'" type="submit">유저 등록</button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='../../index.html'" type="button">취소</button>
      </div>
    </div>
  </form>
</div> <!-- /container -->
</body>
</html>